extends ./../layout/main

block content
  div(class="col-xs-12 col-md-12")
    h2(class="text-center") Register new User
    form(action="/users", method="POST")
      div.form-group
        input(type="text", name="name", placeholder="Name: ", class="form-control")
      div.form-group
        input(type="text", name="username", placeholder="Username: ", class="form-control")
      div.form-group
        input(type="email", name="email", placeholder="Email: ", class="form-control")
      div.form-group
        select(name="role", id="role", class="form-control")
          option(value="admin") Admin
          option(value="user") User
      div.form-group
        input(type="password", name="password", placeholder="Password: ", class="form-control")
      div.form-group
        button(type='submit', class="btn btn-primary") Create